* {
	margin: 0;
	padding: 0;
}

.header {
	width: 280px;
	background-color: #4389f9;
	color: #fff;

	padding: 5px 20px;

	border-bottom-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-bottomleft: 50px;


	border-top-right-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topright: 50px;
}

/***************************************/
/*OVERLAY STYLES*/

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 8;
}

.hidden {
	/*display: hidden;*/
}

.relative-parent {
	position: relative;
}

.overlay-background {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	 /* IE 5.5-7 */
	filter: alpha(opacity=60);

	/* Netscape */
	-moz-opacity: 0.6;

	/* Safari 1.x */
	-khtml-opacity: 0.6;

	/* Modern browsers */
	opacity: 0.6;
}

.overlay-match-information {
	position: absolute;
	top: 15%;
	left: 25%;
	width: 800px;
	background-color: #4389f9;
	padding: 10px;
}

.match-description {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 16px;
	overflow-y: scroll;
	height: 600px;
}

#download-container {
	padding: 10px 0px;
	text-align: center;
}

.close-match-desc {
	float: right;
	border: none;
	width: 100px;
	height: 30px;
	font-size: 20px;
}

.selected-tags {
	margin: 20px 5px;
}

.selected-tags * {
	margin-right: 5px;
}

/***************************************/
/*MAIN CONTAINER STYLES*/
.main-content {
	padding: 20px 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	background-color: #4389f9;/*#E36;*//*#4389f9;*/
}

.search {
	margin-bottom: 20px;
	width:100%;
}

.search-field {
	width: 86%;
	float: left;
	height: 30px;
	border: none;
	font-size: 20px;
	padding-left: 5px;
}

.search-button {
	width: 14%;
	height: 30px;
	background-color: #666;
	border: none;
	color: white;
	font-size: 20px;
}

.border-round5 {
	border-radius: 5px;
}

.border-round3 {
	border-radius: 3px;
}

.border-left-round5 {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;

	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;

}

.border-right-round5 {
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;

	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
}

.search-matches-container {
	background-color: #fff;
	width: 100%;
}

.matched-item {
	padding: 5px;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}

.matched-item:last-child {
	border-bottom: 0px solid #aaa;
}

.add-checkbox {
	float: left;
	margin-left: 10px;
	margin-top: 5p1x;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	background-image: url("images/unchecked_checkbox.png");
}

.checkbox-checked {
	background-image: url("images/checked_checkbox.png");
}

.match-name {
	font-size: 25px;
	margin-bottom: 0px;
}

.open-decription {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	width: 11%;
	height: 30px;
	border: none;
	font-size: 20px;
}

.matched-item * {
	display: inline-block;
}

.matches {
	overflow-y: scroll;
	height: 600px;
}


/***************************************/
/*RIGHT SIDEBAR CONTROL STYLES*/
.side-bar-controls {
	background-color: #666;
	margin-left: 1%;
}

.side-bar-controls:after {
	content: '';
	clear: right;
}

.export-header {
	height: 40px;
	color: #fff;
	font-size: 23px;
	margin-top: 10px;
}

.exported-items-container {
	min-width: 50px;
	min-height: 50px;
	background-color: #fff;
	padding:5px;
}

ul {
	list-style-type: none;
}

.exported-item {
	display:inline;
}
.exported-item .tag{
	background-color: #eee;
}

.exported-item *{
	display: inline;
}

.exported-item .item-name {

}

.remove-exported-item-button {
	border: none;
	height: 15px;
	font-size: 13px;
	width: 15px;
}

.export-to-gitbook-button {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 35px;
	border: none;
	background-color: #eee;
	font-size: 24px;
	color: #444;
}


/*BOOTSTRAP FIX*/

	/* The styles from .form-control to match the type ahead control */
	 .autocomplete, .tt-query, .tt-hint {
	 	width: 750px;
	 	padding: 6px 12px;
	 	font-size: 20px;
	 	height: 34px;
	 	border: 1px solid #ccc;
	 	border-radius: 4px;
	 	color: #555;
	 	vertical-align: middle;
	 	background-color: #fff;
	 	border: 1px solid #ccc;
	}

	.twitter-typeahead .tt-query,
	.twitter-typeahead .tt-hint {
	  margin-bottom: 0;
	}

	.tt-dropdown-menu {
	  min-width: 750px;
	  font-size: 20px;
	  margin-top: 2px;
	  padding: 5px 0;
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0,0,0,.2);
	  *border-right-width: 2px;
	  *border-bottom-width: 2px;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
	  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	          box-shadow: 0 5px 10px rgba(0,0,0,.2);
	  -webkit-background-clip: padding-box;
	     -moz-background-clip: padding;
	          background-clip: padding-box;
	}

	.tt-suggestion {
	  display: block;
	  padding: 3px 20px;
	}

	.tt-suggestion.tt-is-under-cursor {
	  color: #f1b218;
	  background-color: #0081c2;
	  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
	}

	.tt-suggestion.tt-is-under-cursor a {
	  color: #f1b218;
	}

	.tt-suggestion p {
	  margin: 0;
	}

	.tt-cursor{
    	color:#f1b218;
	}
